<div class="w-screen h-screen grid place-items-center bg-gradient-to-b from-[#2E3136] to-[#17181A]">
    <div class="w-[960px] h-screen">
        <div class="mt-8 mb-14">
            <app-primary-temperature></app-primary-temperature>
        </div>
        <div class="grid grid-rows-4 grid-cols-6 gap-4">
            <!--            <app-temperature-hours-list class="row-span-1 col-span-4"></app-temperature-hours-list>-->
            <!--            <app-rain-map class="row-span-2 col-span-2"></app-rain-map>-->
            <!--            <app-temperature-days-list class="row-span-3 col-span-2"></app-temperature-days-list>-->
            <!--            <app-uv-index class="row-span-1 col-span-1"></app-uv-index>-->
            <app-wind-info class="row-span-1 col-span-1"></app-wind-info>
        </div>
    </div>
</div>